.apartment-teaser-wrapper {
  width: 33.3%;
  float: left;
  min-height:120px;
  text-align: center;
  margin-bottom: 50px;
}

.apartment-icon {
  margin:0 auto;
  width:50px;
}

.apartment-teaser-wrapper .views-field-title a {
  font-size: 26px;
  font-weight: bold;
}

@media (max-width: 1000px){
  .apartment-teaser-wrapper {
    width: 100%;
  }
}
